body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.filter {
  background-image: url("../img/blurr.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

/* .filter-search {
  background-color: #507aa4;
} */

.filter-search fieldset {
  border: none;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-search ul {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
}

.description-unit p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.description-unit a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
}

.description-unit a:hover, .description-unit a:focus {
  background-color: #669ec0;
}

.description-unit a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.description-unit-2 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.description-unit-2 a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
}

.description-unit-2 a:hover, .description-unit-2 a:focus {
  background-color: #604e43;
}

.description-unit-2 a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-number {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.logo-s {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.logo-s-intro {
  background-color: #9e7f76;
  background-image: url("../img/intro-mask.svg"), url("../img/maun.jpg");
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
}

.intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.filter-interval {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-interval label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
}

.filter-interval input[type="text"] {
  font: inherit;
  border: none;
  color: #ffffff;
  background-color: transparent;
  width: 90px;
  padding-left: 65px;
}

.filter-range-handle {
  background-color: transparent;
  border: none;
}

.filter-range-handle svg:hover, .filter-range-handle svg:focus {
  width: 22px;
  height: 24px;
}

.show-results {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}

.show-results:hover, .show-results:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}

.reasons-for {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons-unit {
  color: #ffffff;
  text-align: center;
}

.reasons-legend h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.reasons-list {
  text-align: center;
  list-style: none;
}

.reasons-list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 28px 0;
}

.reasons-unit-2 {
  background-color: #eeeeee;
  text-align: center;
}

.reasons-block h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  width: 125px;
  margin: 0;
  padding: 0 138px;
}

.reasons-block p {
  width: 262px;
  margin: 0;
  margin-top: 28px;
  padding: 0 70px;
}

.filter-results {
  background-color: #fefefe;
}

.content {
  background-color: #fefefe;
}

.results-list {
  list-style: none;
}

.logo-a {
  fill: #231f20;
}

.logo-a:hover, .logo-a:focus {
  fill: #81b3d2;
}

.logo-a:active {
  fill: #bdbbbc;
}

.hotels-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-name a:hover, .hotels-name a:focus {
  color: #81b3d2;
}

.hotels-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #fefefe;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #fefefe;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-list a:hover, .sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

.sorting-list-current a {
  color: #81b3d2;
}

.sorting-direction {
  list-style: none;
}

.search-title {
  color: #ffffff;
  text-align: center;
}

.search-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.search-title-text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.search-for-hotel {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.search-for-hotel:hover, .search-for-hotel:focus {
  background-color: #604e43;
}

.search-for-hotel:active {
  color: rgba(255, 255, 255. 0.3);
  background-color: #503e33;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-item-text {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  line-height: 26px;
}

.search-item-text:hover {
  background-color: #ebebeb;
}

.search-item-text:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-calendar {
  background-color: #e5e5e5;
  border: none;
}

.up, .down {
  fill: #cacaca;
}

.up:hover, .up:focus, .down:hover, .down:focus {
  fill: #231f20;
}

.up:active, .down:active {
  fill: #81b3d2;
}

.current {
  fill: #81b3d2;
}

.search-calendar svg {
  fill: #a9a9a9;
}

.search-calendar svg:hover, .search-calendar svg:focus {
  fill: #000000;
}

.search-calendar svg:active {
  fill: #81b3d2;
}

.minus, .plus {
  font: inherit;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.minus:hover, .plus:hover, .minus:focus, .plus:focus {
  color: #000000;
}

.minus:active, .plus:active {
  color: #81b3d2;
}

.find-results {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.find-results:hover, .find-results:focus {
  background-color: #669ec0;
}

.find-results:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  text-align: center;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  list-style: none;
}

ul a {
  color: #000000;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/* -----------------Сетка-------------- */

.visually-hidden {
  display: none;
}

.main-header {
  outline: black solid 2px;
}

.main-navigation {
  outline: #dc6243 solid 2px;
  background-color: #ffffff;
  position: relative;
  /* temp */
  min-height: 57px;
}

.main-header-logo {
  outline: yellow solid 2px;
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  outline: blue solid 2px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
  padding: 16px 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.filter-search {
  outline: blue solid 2px;
  display: flex;
  min-height: 204px;
  padding-left: 72px;
  padding-right: 72px;
}

.filter-infrastructure {
  outline: black solid 1px;
  width: 241px;
  min-height: 204px;
  padding: 0;
}

.filter-infrastructure legend {
  padding-top: 30px;
}

.infrastructure {
  padding: 0;
  margin: 30px 0;
}

.infrastructure-item {
  margin-top: 21px;
}

.filter-housing {
  outline: black dotted 1px;
  width: 288px;
  min-height: 204px;
  padding: 0;
}

.filter-housing legend {
  padding-top: 30px;
  padding-left: 14px;
}

.type-of-housing {
  padding: 0;
  margin: 30px 0;
  margin-left: 15px;
}

.housing-item {
  margin-top: 21px;
}

.filter-price {
  outline: black dashed 1px;
  width: 328px;
  min-height: 204px;
  margin-left: auto;
}

.filter-price p {
  padding-top: 30px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.filter-results {
  outline: green solid 2px;
  display: flex;
  min-height: 87px;
  padding-left: 72px;
  padding-right: 72px;
}

.search-results {
  outline: gray solid 1px;
  width: 115px;
  margin: 0;
  margin-right: 42px;
  padding-top: 30px;
}

.sorting {
  outline: gray dotted 1px;
  width: 83px;
  margin: 0;
  padding-top: 38px;
}

.sorting-list {
  outline: gray dashed 1px;
  width: 288px;
  margin: 0;
  margin-right: 494px;
  padding-top: 38px;
}

.sorting-direction {
  outline: gray solid 1px;
  width: 35px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
}

.results-list {
  outline: purple dotted 2px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 72px;
  min-height: 453px;
}

.results-list-item {
  outline: black solid 1px;
  width: 1056px;
  display: flex;
  flex-direction: row;
  min-height: 152px;
}

.results-image {
  width: 135px;
  min-height: 90px;
  padding-left: 73px;
  padding-right: 22px;
}

.results-description {
  outline: black dotted 1px;
  width: 571px;
  min-height: 59px;
}

.rating-box {
  outline: black dashed 1px;
  width: 241px;
  min-height: 152px;
  margin-left: 88px;
}

.container {
  outline: yellow solid 2px;
  width: 1200px;
  margin: 0 auto;
}

.logo-s-intro {
  outline: blue solid 2px;
  padding-top: 62px;
  min-height: 497px;
}

.logo-s {
  outline: red solid 2px;
  height: 352px;
  display: block;
  margin: 0 auto;
}

.intro-container {
  outline: green dotted 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 58px 317px;
}

.intro {
  outline: gray solid 2px;
  margin: 0;
  margin-bottom: 37px;
}

.reasons-for {
  outline: yellow dotted 2px;
  margin: 0;
}

.reasons-unit {
  outline: black solid 2px;
  display: flex;
  height: 256px;
}

.reasons-legend {
  outline: white dashed 2px;
  width: 400px;
  background-color: #81b3d2;
}

.reason-1 {
  width: 142px;
  margin: 0;
  padding: 0 130px;
  padding-top: 48px;
}

.text-1 {
  width: 284px;
  margin: 0;
  margin-top: 25px;
  padding: 0 59px;
}

.reason-2 {
  width: 157px;
  margin: 0;
  padding: 0 121px;
  padding-top: 48px;
}

.text-2 {
  width: 313px;
  margin: 0;
  margin-top: 25px;
  padding: 0 43px;
}

.reasons-image {
  width: 800px;
  min-height: 256px;
  overflow: hidden;
}

.reason-image {
  width: 800px;
  min-height: 400;
  order: -1;
  overflow: hidden;
}

.reasons-list {
  outline: red dotted 2px;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-top: 56px;
  background-color: #ffffff;
  min-height: 274px;
}

.reasons-list-item {
  outline: blue dotted 2px;
  width: 400px;
  padding: 0 47px;
}

.reasons-unit-2 {
  outline: blue dashed 2px;
  width: 1200px;
  display: flex;
  background-color: #eeeeee;
  min-height: 256px;
}

.reasons-block {
  outline: gray dotted 2px;
  width: 400px;
  margin: auto;
  min-height: 166px;
}

.search-container {
  outline: green solid 1px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  min-height: 232px;
}

.search-wrapper {
  outline: black dotted 1px;
  width: 636px;
  min-height: 146px;
  margin: 0 auto;
  min-height: 146px;
}

.search-title-vacation {
  margin: 0;
  margin-bottom: 32px;
}

.search-for-hotel {
  width: 568px;
  background-color: #766357;
  margin: 0 316px;
  min-height: 86px;
  padding: 0;
}

.search-form {
  outline: yellow dashed 1px;
  width: 568px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 316px;
  background-color: #ffffff;
  min-height: 395px;
  position: absolute;
}

/* -------------- */

.search-item {
  width: 458px;
  margin: 15px 55px;
}

.search-item:nth-child(3), .search-item:nth-child(4) {
  width: 225px;
  margin: 15px 0;
  margin-bottom: 0;
}

.search-item:nth-child(3) {
  margin-left: 55px;
  margin-right: 8px;
}

.search-item:nth-child(3) label {}

.search-item:nth-child(4) {
  margin-right: 55px;
}

.search-item-text:nth-child(3), .search-item-text:nth-child(4) {
  width: 38px;
  padding: 6px 0;
  text-align: center;
}

.minus {
  width: 38px;
  padding: 6px 0;
  margin: 0;
}

.plus {
  width: 38px;
  padding: 6px 0;
  margin: 0;
}

.search-item:first-child {
  margin-top: 0;
  padding-top: 55px;
}

/* ---------- */

.find-results {
  width: 458px;
  margin: 55px;
  min-height: 58px;
  padding: 0;
}

.map-image {
  height: 593px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-footer {
  outline: blue solid 2px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  min-height: 120px;
}

.hashtag {
  outline: red dotted 1px;
  width: 400px;
  margin: 0;
  align-self: center;
}

.footer-social {
  outline: green solid 1px;
  width: 400px;
  margin: 0;
  align-self: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  outline: gray solid 2px;
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
}

.footer-copyright b {
  margin-right: 8px;
  align-self: center;
}

.footer-copyright a {
  align-self: center;
}