body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

p.intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

p.reasons-for {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.reasons-unit {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  line-height: 21px;
}

.reasons-legend h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-legend .reasons-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-list {
  list-style: none;
  background-color: #ffffff;
  text-align: center;
}

.reasons-list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.reasons-list-item .reasons-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.reasons-unit-2 {
  background-color: #eeeeee;
  text-align: center;
}

.reasons-unit-2 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #eeeeee;
}

.reasons-block .reasons-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #eeeeee;
}

.search-title {
  background-color: #ffffff;
  text-align: center;
}

.search-title-vacation {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-title-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.search-for-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search-for-hotel:hover, .search-for-hotel:focus {
  background-color: #766357;
  color: #ffffff;
}

.search-for-hotel:active {
  color: #928a85;
  background-color: #503e33;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-item-text {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search-item-text:hover {
  background-color: #ebebeb;
}

.search-item-text:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-calendar {
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.minus, .plus {
  font: inherit;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.minus:hover, .plus:hover, .minus:focus, .plus:focus {
  color: #000000;
}

.minus:active, .plus:active {
  color: #81b3d2;
}

.find-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.find-results:hover, .find-results:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.find-results:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  color: #000000;
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-social ul {
  font: ingerit;
  text-align: center;
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: rgba(254, 254, 254, 0.9);
  text-align: center;
}