body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url("../img/maun.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation-current a {
  color: #766357;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #fefefe;
  background-image: url("../img/blurr.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.filter-search {
  background-color: ##507aa4;
}

.filter-search fieldset {
  border: none;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-search ul {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
}

.description-unit p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.description-unit a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
}

.description-unit-2 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.description-unit-2 a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
}

.logo-s {
  display: block;
  margin: 0 auto;
}

.intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.filter-interval {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-interval input[type="text"] {
  font: inherit;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.filter-range-handle {
  background-color: transparent;
  border: none;
}

.filter-range-handle svg:hover, .filter-range-handle svg:focus {
  width: 22px;
  height: 24px;
}

.show-results {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}

.show-results:hover, .show-results:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}

.reasons-for {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons-unit {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.reasons-legend h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.reasons-list {
  text-align: center;
  list-style: none;
}

.reasons-list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reasons-unit-2 {
  background-color: #eeeeee;
  text-align: center;
}

.reasons-block h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.filter-results {
  background-color: #fefefe;
}

.content {
  background-color: #fefefe;
}

.results-list {
  list-style: none;
}

.logo-a {
  fill: #231f20;
}

.logo-a:hover, .logo-a:focus {
  fill: #81b3d2;
}

.logo-a:active {
  fill: #bdbbbc;
}

.hotels-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-name a:hover, .hotels-name a:focus {
  color: #81b3d2;
}

.hotels-name a:active {
  color: #cacaca;
}

.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #fefefe;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #fefefe;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #cacaca;
  background-color: #fefefe;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-list a:hover, .sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

.sorting-list-current a {
  color: #81b3d2;
}

.sorting-direction {
  list-style: none;
}

.search-title {
  color: #ffffff;
  text-align: center;
}

.search-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.search-title p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.search-for-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.search-for-hotel:hover, .search-for-hotel:focus {
  background-color: #604e43;
}

.search-for-hotel:active {
  color: rgba(255, 255, 255. 0.3);
  background-color: #503e33;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-item-text {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.search-item-text:hover {
  background-color: #ebebeb;
}

.search-item-text:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-calendar {
  background-color: #e5e5e5;
  border: none;
}

.up, .down {
  fill: #cacaca;
}

.up:hover, .up:focus, .down:hover, .down:focus {
  fill: #231f20;
}

.up:active, .down:active {
  fill: #81b3d2;
}

.current {
  fill: #81b3d2;
}

.search-calendar svg {
  fill: #a9a9a9;
}

.search-calendar svg:hover, .search-calendar svg:focus {
  fill: #000000;
}

.search-calendar svg:active {
  fill: #81b3d2;
}

.minus, .plus {
  font: inherit;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.minus:hover, .plus:hover, .minus:focus, .plus:focus {
  color: #000000;
}

.minus:active, .plus:active {
  color: #81b3d2;
}

.find-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.find-results:hover, .find-results:focus {
  background-color: #669ec0;
}

.find-results:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  text-align: center;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  list-style: none;
}

ul a {
  color: #000000;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}